/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    font-family: Arial;
}
body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: unset;
    scroll-behavior: smooth;
    color: white;
    background-color: rgb(234, 237, 237);
}


